.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: aliceblue;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavBtn {
  border: cornflowerblue solid 1px;
  color: cornflowerblue;
  height: 40px;
  width: 200px;
  margin:5px
}

.bottomBtn {
  position: absolute;
  left: 30%;
  margin-left: -50px;
  margin-bottom: 30px;
  bottom: 0px;
}
